.link.hover:hover {
  text-decoration: underline;
}
img {
  transition: transform 0.2s;
  margin: 0 auto;
  /* background-color: rgb(173, 173, 237); */
  /* border-radius: 10px; */
  /* border: 1px solid black; */
}
img:hover {
  transform: scale(1.5);
  cursor: pointer;
}
