<div class="heading text-center" style="margin-top: 6rem; display: flex; flex-flow: row nowrap; justify-content: center;">


  <div class="mt-2">
    <img class="link" src="assets/img/left-arrow.svg" (click)="changeWeek('back')" matTooltip="Get previous weeks matchups">
  </div>

  <div style="flex-basis: 20rem; text-align: center;">
    <h2>NFL {{currentYear}} {{displaySeasonArr[displaySeasonIndex]}} Week <span *ngIf="displaySeasonIndex == 1 || displaySeasonIndex == 0">{{currentNFLWeek}}</span></h2>
  </div>

  <div class="mt-2">
    <img class="link" src="assets/img/right-arrow.svg" (click)="changeWeek('forward')" matTooltip="Get next weeks matchups">
  </div>

</div>
<div class="row row-cols-1 row-cols-md-2 g-4" style="margin-left: 2rem; margin-right: 2rem;">
    <div class="col" *ngFor="let game of matchUps">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
              <h5 style="float: left;">{{game.Date | date: 'MMM dd, YYYY - h:mm a'}} </h5>
              <div style="float: right; display: flex; flex-flow: row nowrap;">
                <h5>{{game.StadiumDetails.Name}} - {{game.StadiumDetails.City}}</h5>
                <h5 *ngIf="game.StadiumDetails.Country != 'USA' ">, {{game.StadiumDetails.Country}}</h5>
                <h5 *ngIf="game.StadiumDetails.State">, {{game.StadiumDetails.State}}</h5>
              </div>

            <div class="card-text">
                <table class="table table-borderless table-sm">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Q1</th>
                        <th scope="col">Q2</th>
                        <th scope="col">Q3</th>
                        <th scope="col">Q4</th>
                        <th scope="col">T</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <img [src]="'assets/img/' + game.HomeTeam + '_logo.png'" width="25">
                          <a [routerLink]="['/team-stats', game.HomeTeam]" matTooltip="See home teams season stats" style="margin-left: 0.5rem; margin-top: 0.3rem;">{{game.HomeTeam}}</a>
                        </td>
                        <td>{{game.HomeScoreQuarter1}}</td>
                        <td>{{game.HomeScoreQuarter2}}</td>
                        <td>{{game.HomeScoreQuarter3}}</td>
                        <td>{{game.HomeScoreQuarter4}}</td>
                        <td>{{game.HomeScore}}</td>
                      </tr>
                      <tr>
                        <td>
                          <img [src]="'assets/img/' + game.AwayTeam + '_logo.png'" width="25">
                          <a [routerLink]="['/team-stats', game.AwayTeam]" matTooltip="See away teams season stats" style="margin-left: 0.5rem; margin-top: 0.3rem;">{{game.AwayTeam}}</a>
                        </td>
                        <td>{{game.AwayScoreQuarter1}}</td>
                        <td>{{game.AwayScoreQuarter2}}</td>
                        <td>{{game.AwayScoreQuarter3}}</td>
                        <td>{{game.AwayScoreQuarter4}}</td>
                        <td>{{game.AwayScore}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <p class="card-text"></p>
          </div>
        </div>
    </div>
</div>
