.grid {
  display: flex;
  justify-content: center;
}
.gutters {
  margin: -10px 10px 0 0;
}
.gutters > div {
  padding: 20px 0px 30px 10px; /* padding order clockwise starting from top*/
}
.half {
  flex-basis: 50%;
}
.third {
  flex-basis: 33.33333%;
}
.fourth {
  flex-basis: 25%;
}
.fifth {
  flex-basis: 20%;
}
.sixth {
  flex-basis: 16.67%;
}
