.grid {
  display: flex;
  justify-content: center;
}
.gutters {
  margin: -10px 10px 0 0;
}
.gutters > div {
  padding: 20px 0px 30px 10px; /* padding order clockwise starting from top*/
}
.half {
  flex-basis: 50%;
}
.third {
  flex-basis: 33.33333%;
}
.fourth {
  flex-basis: 25%;
}
.fifth {
  flex-basis: 20%;
}
.sixth {
  flex-basis: 16.67%;
}
.table-headers {
  font-weight: 300;
}

tr {
  background-color: #00ffff00;
  height: 30px;
  border-bottom: 1px solid rgb(192, 192, 192);
}

tr:hover {
  background-color: rgba(200, 200, 200, 0.753);
}
