<div class="mt-2">

    <div class="grid gutters" style="width: 75%; margin: auto; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; margin-top: 1.5rem; margin-bottom: 1rem;">
        <div class="twothirds" style="display: flex; flex-flow: row wrap; justify-content: center; align-items: center">
            <div style="object-fit: scale-down;">
                <img [src]="'assets/img/' + team + '_logo.png'" style="max-width: 150px; object-fit: scale-down;">
            </div>
            <div style="flex-grow: 4; text-align: center; margin-left: 1rem; margin-right: 1.5rem; margin-top: 1rem; margin-bottom: 1rem;">
                <h2>{{teamName}}</h2>
                <h3 *ngIf="espnStats">{{espnStats.team.standingSummary}}</h3>
            </div>
        </div>
<!-- screen smaller then 574 changes -->
        <div class="third" style="flex-grow: 1;">
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;" *ngIf="espnStats">
                <div class="col text-center" style="flex-basis: 30%;">
                    <h4>{{teamRecord}}</h4>
                    <h5>Record</h5>
                </div>
                <div class="col text-center" style="flex-basis: 35%; padding-left: 1rem; padding-right: 1rem;">
                    <h4>{{espnStats.team.record.items[1].summary}}</h4>
                    <h5>Home</h5>
                </div>
                <div class="col text-center" style="flex-basis: 35%;">
                    <h4>{{espnStats.team.record.items[2].summary}}</h4>
                    <h5>Away</h5>
                </div>
                <!-- Possibly add later a feature to select a year and see that years stats -->
                <!-- <div style="flex-basis: 99%;">
                    <mat-label>Year</mat-label>
                    <select matNativeControl required>
                      <option value="2023">2023</option>
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <option value="2020">2020</option>
                    </select>
                </div> -->
            </div>
        </div>
    </div>

    <mat-tab-group style="width: 75%; margin: auto;" mat-stretch-tabs="false" mat-align-tabs="left">
        <mat-tab label="Statistics">
            <div style="margin-top: 2rem; padding: 10px; max-width: 99%;" *ngIf="seasonStats">
                <h2>Offense Stats</h2>
                <div class="row">
                    <div class="col" style="font-weight: 500;">Total Yards</div>
                    <div class="col" style="text-align: right;">{{seasonStats[0].OffensiveYards/seasonStats[0].Games | number: '1.1-1'}}</div>
                </div>
                <div class="row mt-2">
                    <mat-progress-bar
                        class="example-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]="(this.seasonStats[0].OffensiveYards/this.seasonStats[0].Games)/4">
                    </mat-progress-bar>
                </div>
                <div class="row mt-3">
                    <div class="col" style="font-weight: 500;">Passing Yards</div>
                    <div class="col" style="text-align: right;">{{seasonStats[0].PassingYards/seasonStats[0].Games | number: '1.1-1'}}</div>
                </div>
                <div class="row mt-2">
                    <mat-progress-bar
                        class="example-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]="(this.seasonStats[0].PassingYards / this.seasonStats[0].Games)/2.8">
                    </mat-progress-bar>
                </div>
                <div class="row mt-3">
                    <div class="col" style="font-weight: 500;">Rushing Yards</div>
                    <div class="col" style="text-align: right;">{{seasonStats[0].RushingYards/seasonStats[0].Games | number: '1.1-1'}}</div>
                </div>
                <div class="row mt-2">
                    <mat-progress-bar
                        class="example-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]="(seasonStats[0].RushingYards / seasonStats[0].Games)/1.4">
                    </mat-progress-bar>
                </div>
            </div>

            <div style="margin-top: 2rem; padding: 10px; max-width: 99%;" *ngIf="seasonStats">
                <h2>Defense Stats</h2>
                <div class="row">
                    <div class="col" style="font-weight: 500;">Total Yards</div>
                    <div class="col" style="text-align: right;">{{seasonStats[0].OpponentOffensiveYards/seasonStats[0].Games | number: '1.1-1'}}</div>
                </div>
                <div class="row mt-2">
                    <mat-progress-bar
                        class="example-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]="(seasonStats[0].OpponentOffensiveYards / this.seasonStats[0].Games)/4">
                    </mat-progress-bar>
                </div>
                <div class="row mt-3">
                    <div class="col" style="font-weight: 500;">Passing Yards</div>
                    <div class="col" style="text-align: right;">{{seasonStats[0].OpponentPassingYards/seasonStats[0].Games | number: '1.1-1'}}</div>
                </div>
                <div class="row mt-2">
                    <mat-progress-bar
                        class="example-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]="(seasonStats[0].OpponentPassingYards / this.seasonStats[0].Games)/2.8">
                    </mat-progress-bar>
                </div>
                <div class="row mt-3">
                    <div class="col" style="font-weight: 500;">Rushing Yards</div>
                    <div class="col" style="text-align: right;">{{seasonStats[0].OpponentRushingYards/seasonStats[0].Games | number: '1.1-1'}}</div>
                </div>
                <div class="row mt-2">
                    <mat-progress-bar
                        class="example-margin"
                        [color]="color"
                        [mode]="mode"
                        [value]="(seasonStats[0].OpponentRushingYards / this.seasonStats[0].Games)/1.4">
                    </mat-progress-bar>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Statistics Visualizations">
            <div style="margin-top: 2rem; padding: 10px; max-width: 99%;">
                <div class="row" style="margin: auto;">
                    <h2>Total Yards</h2>
                    <canvas
                        baseChart
                        class="chart"
                        [data]="barChartData"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [type]="barChartType"
                        (chartClick)="chartClicked($event)"
                    >
                    </canvas>
                </div>
                <h2 style="margin-top: 2rem;">Percentages</h2>
                <!-- NEXT work add the ability to see teams stats by year -->
                <div class="row" style="margin: auto; max-width: 75%;">
                    <canvas
                        baseChart
                        class="chart"
                        [data]="radarChartData"
                        [options]="radarChartOptions"
                        [type]="radarChartType"
                    >
                    </canvas>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Compare">
            <div style="text-align: center; display: flex; flex-direction: column;">
                <div class="col">
                    <h4 style="margin-top: 2rem;">Please select a team to compare stats with.</h4>
                </div>
                <div class="col" style="max-width: 30rem; margin: auto; margin-bottom: 3rem;">
                    <select class="form-select" #teamSelect (change)="getCompareChartData(teamSelect.value)">
                        <option selected>Select Team</option>
                        <option *ngFor="let team of allTeamStats" [value]="team.Team">
                            {{this.teamInfoService.getTeamName(team.Team)}}
                        </option>
                      </select>
                </div>
            </div>
            <div *ngIf="compareTeamStats">
                <table style="width: 100%;">
                    <thead>
                      <tr>
                        <th scope="col">Categories</th>
                        <th scope="col" style="text-align: center;">{{this.teamInfoService.getTeamName(this.team)}}</th>
                        <th scope="col" style="text-align: center;">{{this.teamInfoService.getTeamName(compareTeamStats[0].Team)}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Passing Yards</td>
                        <td style="text-align: center;">{{seasonStats[0].PassingYards}}</td>
                        <td style="text-align: center;">{{compareTeamStats[0].PassingYards}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Rushing Yards</td>
                        <td style="text-align: center;">{{seasonStats[0].RushingYards}}</td>
                        <td style="text-align: center;">{{compareTeamStats[0].RushingYards}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Oppoenents Passing Yards</td>
                        <td style="text-align: center;">{{seasonStats[0].OpponentPassingYards}}</td>
                        <td style="text-align: center;">{{compareTeamStats[0].OpponentPassingYards}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Oppoenents Rushing Yards</td>
                        <td style="text-align: center;">{{seasonStats[0].OpponentPassingYards}}</td>
                        <td style="text-align: center;">{{compareTeamStats[0].OpponentPassingYards}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Passing TDs</td>
                        <td style="text-align: center;">{{seasonStats[0].PassingTouchdowns}}</td>
                        <td style="text-align: center;">{{compareTeamStats[0].PassingTouchdowns}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Rushing TDs</td>
                        <td style="text-align: center;">{{seasonStats[0].RushingTouchdowns}}</td>
                        <td style="text-align: center;">{{compareTeamStats[0].RushingTouchdowns}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Opponent Passing TDs</td>
                        <td style="text-align: center;">{{seasonStats[0].OpponentPassingTouchdowns}}</td>
                        <td style="text-align: center;">{{compareTeamStats[0].OpponentPassingTouchdowns}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Opponent Rushing TDs</td>
                        <td style="text-align: center;">{{seasonStats[0].OpponentRushingTouchdowns}}</td>
                        <td style="text-align: center;">{{compareTeamStats[0].OpponentRushingTouchdowns}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </mat-tab>

      </mat-tab-group>
      

</div>

