<div class="heading text-center" style="margin-top: 1rem">
  <h2>
    <img src="assets/img/left-arrow.svg" (click)="changeWeek('back')"> NFL Week {{currentWeek}} <img src="assets/img/right-arrow.svg" (click)="changeWeek('forward')">
  </h2>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4" style="margin-left: 2rem; margin-right: 2rem;">
    <div class="col" *ngFor="let game of matchUps">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 style="display: inline; float: left;">{{game.Date | date: 'MMM dd, YYYY - h:mm a'}} </h5>
            <h5 style="display: inline; float: right;" *ngIf="game.StadiumDetails.Country != 'USA' ">, {{game.StadiumDetails.Country}}</h5>
            <h5 style="display: inline; float: right;" *ngIf="game.StadiumDetails.State">, {{game.StadiumDetails.State}}</h5>
            <h5 style="display: inline; float: right;">{{game.StadiumDetails.Name}} - {{game.StadiumDetails.City}}</h5>

            <div class="card-text">
                <table class="table table-borderless table-sm">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Q1</th>
                        <th scope="col">Q2</th>
                        <th scope="col">Q3</th>
                        <th scope="col">Q4</th>
                        <th scope="col">T</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>{{game.AwayTeam}}</th>
                        <td>{{game.AwayScoreQuarter1}}</td>
                        <td>{{game.AwayScoreQuarter2}}</td>
                        <td>{{game.AwayScoreQuarter3}}</td>
                        <td>{{game.AwayScoreQuarter4}}</td>
                        <td>{{game.AwayScore}}</td>
                      </tr>
                      <tr>
                        <th>{{game.HomeTeam}}</th>
                        <td>{{game.HomeScoreQuarter1}}</td>
                        <td>{{game.HomeScoreQuarter2}}</td>
                        <td>{{game.HomeScoreQuarter3}}</td>
                        <td>{{game.HomeScoreQuarter4}}</td>
                        <td>{{game.HomeScore}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <p class="card-text"></p>
          </div>
        </div>
    </div>
</div>
<div style="margin-top: 2rem;">
  <p>Please note I am using a free version of an NFL api that does not provide live updates, the API data is updated the day after the event is played.</p>
</div>