<h3 style="text-align: center; margin-top: 6rem;">Welome to Game Day Guru!</h3>
<p style="text-align: center;">You can begin exploring by simply clicking any team and viewing their most recent/current season stats.</p>

<div style="display: flex; flex-wrap: wrap; flex-direction: row; padding: 10px;">
    <div class="col card w-50" style="flex-basis: 30%; margin: 10px; height: 110px; background-color: #eaecef" *ngFor="let team of teamsInfo">
        <div class="card-body" style="display: flex; flex-direction: row; align-items: center;">
            <div>
                <img [src]="'assets/img/' + team.Team + '_logo.png'" width="55">
            </div>
            <div style="flex-grow: 1; text-align: center;">
                <h3><a [routerLink]="['/team-stats', team.Team]">{{this.teamInfoService.getTeamName(team.Team)}}</a></h3>
            </div>
        </div>
    </div>
</div>